.custom-fab {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;

  // input {
  //   width: 300px;
  // }
  .collapseable-button {
    min-height: 42px;
  }
  .fab-button {
    transition: all 0.5s;
  }
  .filter-input {
    transition: all 0.5s;
    // width: 300px;
    min-height: 42px;
  }
  &.collapse-fab {
    .collapseable-button {
      width: 0px;
      padding: 0px;
      border: none;
      transition: all 0.1s;
    }
    .fab-button {
      // border-radius: 6px;
      border-radius: 50%;
      transition: all 0.5s;
    }
    .filter-input {
      // border: 1px solid #ced4da;
      border: none;
      width: 0px;
      /* background: #3B82F6; */
      padding: 0px;
      /* border-color: #3B82F6; */
      flex-grow: 0;
      transition: all 0.5s;
    }
  }
}
